#You should really check out https://www.twitch.tv/elbram_tsol before continueing, he built this slopthedral.

[channels' info]

#this should be a link to your twitch video producer page, a la https://dashboard.twitch.tv/u/(your username here)/content/video-producer
link_to_your_twitch_video_producer_page = https://dashboard.twitch.tv/u/(username here without parenthesis)/content/video-producer

[export options]

#The title is a required field & can be a placeholder or the twitch default which is the same as the stream name.
#To have it be the same as the VOD title (default), this option can be ignored with "False" aswell.
#The prefix & suffix, when set to, "True" (without quotes) will add the date as a prefix or suffix respectively.
#The date format will be DD/MM/YYYY.
Date_prefix = False
Title = default
Date_suffix = True

#Put, " VOD" or " VOD, from: " immediatetly after Title? True or False.
VOD_denotion = True

#A generic description is highly recommended over placeholder. "default" will be whatever is there from last time. If you've never exported a VOD on twitch, it is nothing.
Description = default

#A generic set of tags is highly recomended over pleaceholder. "default" will be whatever is there from last time. If you've never exported a VOD on twitch, it is nothing.
#Tags generally denoted with a comma (,) &/or space ( ).
Tags = default

#The export/youtube video will have the selected youtube visibility upon export completion.
#Choose wisely between, "default" which is whatever was chosen last time, "Public" "Private" &,"Unlisted".
#Capitalization matters, but spelling errors will correct to "default".
Visibility = default

#This option, when set to, "True" will split the export into 15 minute segments.
Split = False